@media (max-width: 868px) {
  .filters-column, .sort-button, .filters-banner-list{
    display: none;
  }

  .nav-item {
    margin: 0 auto;
    width: 100%;
    max-width: 575px;
  }

  .nav-item button {
    width: 100%;

  }

  .row {
    display: flex;
    justify-content: center;
  }

  h3, span {
    font-size: 24px;
  }

  


}